body {
    background-image: url("assets/2560x1080.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 13px 8px;
    width: 250px;
    color: #fff;
    background: rgb(0, 0, 158);
    border: 1px solid rgb(1, 0, 88);
    border-radius: 7px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    vertical-align: 18px;
}

button:hover {
    background: rgb(109, 112, 255);
    transition: 1s;
}

.container {
    text-align: center;
}

h1 {
    text-align: center;
}

.contato {
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
}
